
html, body * {
  -webkit-print-color-adjust: exact;
  margin: 0px;
}

th, td {
  font-size: 11px;
}

.group-together {
  break-inside: avoid;
}

.table-responsive {
  max-height: none;
}

.section-not-to-print {
  display: none;
}

.section-only-print {
    display: block;
}

.col-12 {
    float: none;
    width: 100%;
}
